<section class="contacts">
  <div class="container">
    <h2 class="title title--center">Contact us</h2>
    <p class="descr descr--center">
      Please complete the form. Detailed information will help&nbsp;us to&nbsp;make a&nbsp;tuned offer.
    </p>
    <div class="contacts__content">
      <img class="contacts__image" src="img/contacts-image.jpg" alt="" aria-hidden="true">
      <form action="#" class="form-contacts">

        <div class="form-contacts__line">
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Name*</span>
            <input class="form-field__input" type="text" name="name" required placeholder="Your name">
          </label>

          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">I am interested in</span>
            <select class="form-field__select" name="interested">
              <option value="">Choose interested</option>
              <option value="Interior_Design">Interior Design</option>
              <option value="Exterior_Design">Exterior Design</option>
            </select>
          </label>
        </div>

        <div class="form-contacts__line">
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Phone*</span>
            <input class="form-field__input" type="tel" name="phone" required placeholder="Your phone number">
          </label>

          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Location*</span>
            <select class="form-field__select" name="location" required>
              <option value="">Choose location</option>
              <option value="New_York">New York</option>
              <option value="Moscow">Moscow</option>
            </select>
          </label>
        </div>

        <div class="form-contacts__line">
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Email</span>
            <input class="form-field__input" type="email" name="email" placeholder="Your working email">
          </label>

          <fieldset class="form-field form-contacts__fields">
            <legend class="form-field__caption">Preferred contact method</legend>
            <div class="form-field__flex">

              <label class="custom-radio form-contacts__radio">
                <input class="custom-radio__input" type="radio" name="contact_method" value="Phone">
                <span class="custom-radio__caption">Phone</span>
              </label>

              <label class="custom-radio form-contacts__radio">
                <input class="custom-radio__input" type="radio" name="contact_method" value="Email">
                <span class="custom-radio__caption">Email</span>
              </label>

              <label class="custom-radio form-contacts__radio">
                <input class="custom-radio__input" type="radio" name="contact_method" value="Viber">
                <span class="custom-radio__caption">Viber</span>
              </label>

            </div>
          </fieldset>
        </div>

        <label class="form-field form-field--gray form-contacts__field form-contacts__field--big">
          <span class="form-field__caption">Message*</span>
          <textarea class="form-field__input form-field__input--big" name="message"
            placeholder="Your message"></textarea>
        </label>

        <div class="form-contacts__bottom">
          <label class="custom-checkbox form-contacts__checkbox">
            <input class="custom-checkbox__input" type="checkbox">
            <span class="custom-checkbox__caption">
              I&nbsp;agree to&nbsp;receive communications from Createx Construction Bureau.
            </span>
          </label>

          <button class="form-contacts__btn btn btn--fill" type="submit">Send Request</button>
        </div>

      </form>
    </div>
  </div>
</section>